* {
	box-sizing: border-box;
}

body {
	background-color: #ccc;
}

#carousel {
	height: 400px;
	width: 500px;
	overflow: hidden;
	border: 5px solid #000;
	margin: 100px auto;
	box-shadow: 50px 50px 50px #666;

}
ul {
	width: 2500px;
	padding: 0;
	margin: 0;
}

li {
	height: 100%;
	width: 20%;
	list-style: none;
	float: left;
	display: inline-block;
}
